/* Reset CSS Styles */
@import "./global/reset-css-styles.css";

/* Root colors */
@import "./global/root.css";

/* Component Styles */
@import "./styles/navbar.css";

.body {
  /* background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80"); */
  background-size: cover;
  background-position: center;
  color: var(--dm-dark);
}

/* Container */

.container--1 {
  background-color: #bebebe;
}

/* header Main */

.header-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
}
.header-main__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* title */

.title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

/* global */

.global {
  min-height: 100vh;
  padding: 0 1rem;
}

/* svg */

.svg {
  height: 15rem;
  width: auto;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .header-main {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
    border: 1px solid #000;
  }
  .header-main__title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .svg {
    height: 25rem;
  }
  .global,
  .header {
    width: 1200px;
    margin: auto;
  }
}

/* We adapt them to the dark mode.  */
@media (prefers-color-scheme: dark) {
  .body {
    color: var(--dm-light);
    background-color: var(--dm-dark);
  }
}
