.age-calculator {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0;
  width: 25rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-family: cursive;
  box-shadow: 2px 2px 6px #1f1235;
}
.age-calculator__title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: #ff6e6c;
  text-shadow: 1px 1px 2px #1f1235;
}
.age-calculator__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/* input */

.input {
  border: 1px solid #1f1235;
  border-radius: 0.4rem;
  padding: 0.1rem 0.2rem;
}
.input--age-calculator {
  width: 15rem;
}

/* button */

.button {
  border-radius: 1rem;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
}
.button:hover {
  color: #fff;
  outline: 1px solid #fff;
}
.button:active {
  outline: none;
  box-shadow: 1px 1px 4px #1f1235 inset;
}
.button--age-calculator {
  background-color: #ff6e6c;
  color: #1f1235;
}

/* Response */

.age-calculator__response {
  text-align: center;
  font-weight: bold;
  color: #67568c;
}

/* container */

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
