body {
  background-color: #1e505632;
}
:root {
  --main-color: #9400ff;
}
.frequently-asked-questions {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem 1rem;
}
.frequently-asked-questions__title {
  color: var(--main-color);
  font-size: 1.5rem;
  text-align: center;
}
.frequently-asked-questions__container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 1rem;
}

/* Question-card */
.question-card {
  background-color: #fff;
  box-shadow: 1px 1px 3px #1f1235;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  max-width: 44rem;
}

/* Front */

.question-card__front {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* question */
.question-card__question {
  letter-spacing: 1px;
  text-transform: capitalize;
}

/* button */
.button {
  border: 2px solid var(--main-color);
  border-radius: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.button--question-card {
  color: var(--main-color);
}

/* Back */

.question-card__back {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  transition: 1s ease;
}

/* active */
.question-card--active {
  display: flex;
}

/* hr */
.question-card__hr {
  border: 1px solid var(--main-color);
  border-radius: 100%;
}

/* response */
.question-card__response {
  padding: 0 0.5rem;
}
.question-card__response::first-letter {
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 820px) {
  .frequently-asked-questions__container {
    align-items: center;
  }
  .question-card {
    width: 44rem;
  }
}

/* Animation */

.fa-plus {
  animation: btn-rotate-n180 0.3s linear;
}
.fa-minus {
  animation: btn-rotate-180 0.3s linear;
}

@keyframes btn-rotate-n180 {
  to {
    transform: rotate(-180deg);
  }
}

@keyframes btn-rotate-180 {
  to {
    transform: rotate(180deg);
  }
}
