:root {
  --main: #fff;
  --secondary: #67568c;

  --highlight: #ff6e6c;
  --stroke: #1f1235;

  --gradient: linear-gradient(to top right, #cfd9df 0%, #e2ebf0 100%);

  /* dm => Dark Mode */
  --dm-light: #ececec;
  --dm-dark: #191919;
}
