@import "../global/root.css";

.caesar-cipher__message {
  resize: none;
  background-color: #5900ff1f;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  height: 6rem;
  width: 100%;
  box-shadow: 1px 1px 3px #555555;
  font-variant: small-caps;
  color: var(--stroke);
}
.caesar-cipher__message::placeholder {
  color: var(--secondary);
}
.caesar-cipher__message:focus {
  outline: none;
}

.caesar-cipher__section {
  display: flex;
  gap: 0.5rem;
}

.caesar-cipher__range-value {
  color: var(--stroke);
  font-weight: bold;
  font-family: cursive;
}

.caesar-cipher__range {
  background-color: #0000002a;
  box-shadow: 1px 1px 3px #7a7a7a inset;
  border-radius: 1rem;
}
.caesar-cipher__message-value {
  background-color: #5900ff1f;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  height: 6rem;
  width: 100%;
  box-shadow: 1px 1px 3px #555555;
  color: var(--stroke);
}
