@import "../global/root.css";

.filter {
  visibility: hidden;
  opacity: 0;
  order: 1;
}

.project-search {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.project-search__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.3rem 1rem 0.3rem 0;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  color: var(--main);
  width: 30rem;
}

@media screen and (max-width: 600px) {
  .project-search__label {
    width: 100%;
  }
}

/* Input */

.project-search__input {
  padding: 0.2rem 0.8rem;
  width: 100%;
}
.project-search__input:focus {
  outline: none;
}

/* projects */
.project-search__element {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.5rem;
}

.project-search__project {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: #000;
  background-image: var(--gradient);
  gap: 1rem;
  padding: 1rem 1.5rem;
}

.project-search__title {
  text-align: center;
  font-size: 1.3rem;
  font-family: cursive;
}
