.color-change {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 20rem;
  height: 8rem;
  padding: 1.5rem 2rem;
  background-color: #1f1235;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.3rem;
}
.color-change__title {
  font-family: cursive;
  font-size: 1.5rem;
}

/* button */

.button {
  border-radius: 1rem;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  font-variant: small-caps;
}
.button:hover {
  border: 1px solid #fff;
  color: #fff;
}
.button:active {
  border: none;
  box-shadow: 1px 1px 4px #1f1235 inset;
}
.button--color-change {
  background-color: #ff6e6c;
  color: #1f1235;
}

/* span */

.color-change__hex {
  color: #fbdd74;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* container */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
