* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #e0e0e0;
  font-size: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  font-family: cursive;
  list-style: none;
  gap: 0.4rem;
  padding: 1rem;
}
.browser,
.platform {
  color: red;
  font-weight: bold;
}

.exclusive {
  padding: 5px;
  border: 2px solid #c4a;
  color: blueviolet;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
